body {
  font-family: Arial;
  background: #f2f2f2;
  direction: rtl;
}

.container {
  background: #fff;
  max-width: 420px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

input, button, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

.time-box {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: red;
  width: auto;
  padding: 5px 8px;
}
